html, body, div, ul, ol, li, dl, dt, dd, pre, form, p, blockquote, fieldset, input {
    margin: 0px;
    padding: 0px;
}

* {
    outline: none;
    font-family: Tahoma, sans-serif;
}

a[href] {
    color: #444444;
    transition: 0.25s;
}

a[href]:hover {
    color: #222222;
}

table th {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

html, body {
    width: 100%;
    min-width: 1024px;
}

html {
    position: static;
    background: #333333;
}

body {
    margin-bottom: 100px;
    background: #ffffff;
    position: relative;
}

div#main {
    width: 1000px;
    height: 100%;
    min-height: 100%;
    margin: 0px auto;
    padding-bottom: 75px;
    overflow: hidden;
}

div#header {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

div#header > div#sub-header {
    float: right;
    margin-top: 10px;
}

div#big-logo {
    width: 100%;
    margin: 15px 0px;
    text-align: center;
}

div#big-logo > span, div#logo {
    display: inline-block;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive;
    font-size: 70pt;
}

div#logo {
    font-size: 25pt;
}

div#main-header, div#events {
    text-align: center;
    margin-bottom: 25px;
}

div#main-header > div, div#sub-header > div, div#events > div {
    display: inline-block;
    padding: 0px 10px;
    height: 32px;
}

div#main-header > div:first-child, div#sub-header > div:first-child, div#events > div:first-child {
    text-align: right;
    padding-left: 0px;
}

div#main-header > div:last-child, div#sub-header > div:last-child, div#events > div:last-child {
    text-align: left;
    padding-right: 0px;
}

div.search > form > input[type=text] {
    height: 32px;
    box-sizing: border-box;
    padding: 1px 32px 1px 16px;
    margin-right: -32px;

    border-radius: 16px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    color: rgba(51, 51, 51, 0.3);
    transition: 0.25s;
}

div.search > form > input[type=text]:focus, div.search > form:hover > input[type=text] {
    border-color: rgba(51, 51, 51, 0.6);
    color: #333333;
}

div.search > form > input[type=submit] {
    width: 32px;
    height: 32px;
    box-sizing: border-box;

    border: 0px;
    font-size: 16pt;
    font-weight: bold;
    vertical-align: top;
    color: rgba(51, 51, 51, 0.3);
    background: transparent;
    transition: 0.25s;
    cursor: pointer;
}

div.search > form > input[type=text]:focus ~ input[type=submit], div.search > form:hover > input[type=submit] {
    color: #222222;
}

div#events table {
    width: 200px;
    text-align: center;
}

div.event, div.gift {
    width: 100%;
    min-height: 150px;
    position: relative;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    transition: 0.25s;
}

div.gift {
    padding: 0px 10px 5px;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
}

div.gift:nth-of-type(even) {
    background: rgba(51, 51, 51, 0.1);
}

div.gift > div.gift-vote {
    padding: 5px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 5px;
    position: absolute;
    top: -5px;
    right: -5px;
}

div#footer {
    width: 100%;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -100px;
    text-align: center;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive;
    color: #ffffff;
    background: transparent;
}

label {
    display: block;
}

label + label {
    padding-top: 5px;
}

form.form input[type=text],
form.form input[type=submit],
form.form textarea {
    height: 32px;
    padding: 0px 10px;
    border: 1px solid rgba(51, 51, 51, 0.4);
    color: rgba(51, 51, 51, 0.4);
    background: white;
    transition: 0.25s;
}

form.form input[type=submit] {
    font-weight: bold;
    padding: 0px 16px;
}

form.form textarea {
    padding: 10px;
    vertical-align: top;
}

form.form input[type=text]:hover,
form.form input[type=submit]:hover,
form.form textarea:hover,
form.form input[type=text]:focus,
form.form input[type=submit]:focus,
form.form textarea:focus {
    border-color: rgba(51, 51, 51, 0.6);
    color: #333333;
}