<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="general::template(~{::title}, ~{::#main})">
<head>
    <title>Add event / wutugift</title>
</head>
<body>
    <div id="main">
        <div th:replace="header"></div>

        <h2>Add event</h2>

        <form action="/add/submit/general" method="POST" class="form">
            <label for="name">Event name: <input id="name" type="text" name="name"></label>
            <label for="description">Event description: <textarea id="description" name="description"></textarea></label>

            <label><input type="submit"></label>
        </form>
    </div>
</body>
</html>